---
const { project } = Astro.props;

const {
  id_project,
  title,
  description,
  logo,
  functions,
  tecnologys,
  images,
  tags,
} = project;

const tags_array = tags.split("-");
---

<style>
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
  }
</style>

<!-- component -->
<div
  class="group swiper-slide flex justify-between transition duration-300 ease-in-out hover:scale-110 relative"
>
  <div
    class="flex flex-col h-[300px] w-[300px] lg:h-[350px] lg:w-[350px] mx-auto bg-gray-800 rounded-lg"
  >
    <a href=`/${id_project}`>
      <div
        class="bg-gray-100 h-[200px] lg:h-[250px] rounded-lg rounded-b-none overflow-hidden bg-cover bg-no-repeat grid place-content-center"
      >
        <div>
          <img
            class="w-[180px] lg:w-[200px] h-auto rounded-lg rounded-b-none"
            src=`/images/logos/${logo}`
            alt="thumbnail"
            loading="lazy"
          />
        </div>
      </div>
    </a>
    <div
      class="w-full h-[100px] lg:h-[100px] rounded-b-lg flex flex-col justify-center relative"
    >
      <div class="flex justify-center gap-3 px-4 z-20 absolute -top-2 w-full">
        <div
          class="inline-block ring-4 bg-blue-800 ring-gray-800 rounded-full text-[0.6rem] lg:text-xs tracking-wide text-gray-100 px-3 py-0.5"
        >
          <span>{tags_array[0]}</span>
        </div>
        <div
          class="inline-block ring-4 bg-blue-800 ring-gray-800 rounded-full text-[0.6rem] lg:text-xs tracking-wide text-gray-100 px-3 py-0.5"
        >
          {tags_array[1]}
        </div>
        <div
          class="inline-block ring-4 bg-blue-800 ring-gray-800 rounded-full text-[0.6rem] lg:text-xs tracking-wide text-gray-100 px-3 py-0.5"
        >
          {tags_array[2]}
        </div>
      </div>
      <div class="py-2 px-4">
        <h1
          class="text-[1rem] lg:text-xl font-medium leading-6 tracking-wide text-gray-100 hover:text-blue-400 cursor-pointer text-center"
        >
          <a class="text-center" href=`/${id_project}`>{title}</a>
        </h1>
      </div>
    </div>
  </div>

  <div
    class="absolute top-0 w-[350px] h-[250px] z-10 bg-transparent rounded-t-lg opacity-0 duration-300 ease-in-out group-hover:opacity-100 truncate text-white ring-0 backdrop-blur-sm border-none hidden md:block"
  >
    <div class="w-full h-[250px] bg-black/50 p-4">
      <textarea
        disabled
        name="description"
        id="description"
        cols="45"
        rows="10"
        class="overflow-hidden bg-transparent text-white text-sm leading-5 tracking-wide"
        style="resize: none;"
      >
        {description}
      </textarea>
    </div>
  </div>
</div>
<!-- <div class="px-4 pb-4 h-full flex flex-col justify-between gap-2">
      <textarea
        disabled
        name="description"
        id="description"
        cols="30"
        rows="4"
        class="overflow-hidden bg-transparent text-gray-400 text-sm leading-5 tracking-wide"
      >
        {description}
      </textarea>
      <a
        href=`/${id_project}`
        class="font-semibold hover:text-blue-400 text-gray-100 cursor-pointer"
        >Leer más ...</a
      >
    </div> -->
