---
const { project } = Astro.props;

const {
  id_project,
  title,
  description,
  logo,
  functions,
  tecnologys,
  images,
  tags,
} = project;

const tags_array = tags.split("-");
---

<style>
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: auto;
  }
</style>

<!-- component -->
<div class="swiper-slide flex justify-between">
  <div class="flex flex-col h-[550px] w-[450px] mx-auto bg-gray-800 rounded-lg">
    <a href=`/${id_project}`>
      <div
        class="bg-gray-100 h-[300px] rounded-lg rounded-b-none overflow-hidden bg-cover bg-no-repeat grid place-content-center"
      >
        <div>
          <img
            class="w-[200px] h-auto rounded-lg rounded-b-none transition duration-300 ease-in-out hover:scale-110"
            src=`/images/logos/${logo}`
            alt="thumbnail"
            loading="lazy"
          />
        </div>
      </div>
    </a>
    <div class="flex justify-start gap-3 -mt-4 px-4 z-50">
      <span
        class="inline-block ring-4 bg-orange-700 ring-gray-800 rounded-full text-sm font-medium tracking-wide text-gray-100 px-3 pt-0.5"
      >
        {tags_array[0]}
      </span>
      <span
        class="inline-block ring-4 bg-blue-500 ring-gray-800 rounded-full text-sm font-medium tracking-wide text-gray-100 px-3 pt-0.5"
      >
        {tags_array[1]}
      </span>
      <span
        class="inline-block ring-4 bg-gray-500 ring-gray-800 rounded-full text-sm font-medium tracking-wide text-gray-100 px-3 pt-0.5"
      >
        {tags_array[2]}
      </span>
    </div>
    <div class="py-2 px-4 mt-2">
      <h1
        class="text-xl font-medium leading-6 tracking-wide text-gray-100 hover:text-blue-400 cursor-pointer"
      >
        <a href=`/${id_project}`>{title}</a>
      </h1>
    </div>
    <div class="px-4 pb-4 h-full flex flex-col justify-between gap-2">
      <!-- <p class="text-gray-400 font-normal leading-5 tracking-wide">
        {description}
      </p> -->
      <textarea
        disabled
        name="description"
        id="description"
        cols="30"
        rows="4"
        class="overflow-hidden bg-transparent text-gray-400 text-sm leading-5 tracking-wide"
      >
        {description}
      </textarea>
      <a
        href=`/${id_project}`
        class="font-semibold hover:text-blue-400 text-gray-100 cursor-pointer"
        >Leer más...</a
      >
    </div>
    <div class="flex flex-row items-end w-full px-4">
      <div class="flex border-t border-gray-700 w-full py-4">
        <!-- <div class="flex items-center space-x-3 border-gray-700 w-full">
          <img
            class="object-cover w-8 h-8 border-2 border-white rounded-full"
            src="https://storageapi.fleek.co/kamaludin21-team-bucket/portfolio/avatar.jpg"
            alt="profile users"
            loading="lazy"
          />
          <div class="">
            <p class="text-sm font-semibold tracking-wide text-gray-200">
              Author {tags}
            </p>
            <p class="text-xs font-light tracking-wider text-gray-300">
              2 Hours ago
            </p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
