---
import CatalogoProject from "./CatalogoProject.astro";

const { title, index, items } = Astro.props;
---

<div
  class="flex flex-col justify-between text-white gap-5 rounded border-dashed border-2 border-zinc-50 px-2 py-4 relative"
>
  <div class="text-center text-4xl bg-blue-900/25 py-1 sticky top-[4rem]">
    {title}
  </div>
  <div class="flex flex-col gap-8">
    <!-- <CatalogoProject />
    <CatalogoProject />
    <CatalogoProject />
    <CatalogoProject /> -->
    {
      items
        .slice(0, 4)
        .map((project: any) => <CatalogoProject project={project} />)
    }
  </div>
  <div class="text-center text-lg">
    <!-- <button>Ver más...</button> -->

    <button
      class="rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      onclick=`toggleModal('${index}-catset')`
    >
      Ver todos ...
    </button>
  </div>
</div>

<div
  class="hidden overflow-x-hidden fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center"
  id=`${index}-catset`
>
  <div class="relative w-auto my-6 mx-auto max-w-3xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-gray-800 outline-none focus:outline-none"
    >
      <!--header-->
      <div
        class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t"
      >
        <h3 class="text-3xl font-semibold text-white">
          {title}
        </h3>
        <button
          class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
          onclick=`toggleModal('${index}-catset')`
        >
          <span
            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none"
          >
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div
        class="relative p-6 flex-auto overflow-y-auto h-[500px] lg:h-[500px]"
      >
        <div
          class="flex flex-col justify-center text-white gap-5 rounded border-dashed border-2 border-zinc-50 w-[340px] lg:w-[500px] px-2 py-4"
        >
          <div class="flex flex-col gap-8">
            <!-- <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject />
            <CatalogoProject /> -->
            {items.map((project: any) => <CatalogoProject project={project} />)}
          </div>
        </div>
      </div>
      <!--footer-->
      <div
        class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b"
      >
        <button
          class="text-green-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          onclick=`toggleModal('${index}-catset')`
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="hidden opacity-75 fixed inset-0 z-40 bg-black"
  id=`${index}-catset-backdrop`
>
</div>

<script type="text/javascript">
  function toggleModal(modalID) {
    document.getElementById(modalID).classList.toggle("hidden");
    document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
    document.getElementById(modalID).classList.toggle("flex");
    document.getElementById(modalID + "-backdrop").classList.toggle("flex");
  }
</script>
